@import "../../style/index.scss";
@import "../../style/variables.scss";

.heroContainer {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.heroContainer h2 {
  color: $darkRed;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heroLeft {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroContainer p {
  line-height: 2.25rem;
}

.heroImage {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.9);
}

.heroButton {
  display: block;
  width: 100%;
  color: white;
  margin-top: 2rem;
  background-color: $red;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.heroButton:hover {
  background-color: $green;
  transition: ease-in-out 0.3s all;
}

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 480px) {
  .heroLeft {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 620px) {
  .heroImage {
    height: 50vh;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .heroImage {
    margin: 0;
    left: auto;
    right: auto;
    top: auto;
    margin: none;

    bottom: 8vh;
    transform: scale(1.3) translateX(55%);
    position: absolute;
  }

  .heroLeft {
    left: 0;
    margin-left: 4rem;
    width: 40%;
    transform: translateY(10%);
  }

  .heroButton {
    width: 300px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1388px) {
  .heroContainer h2 {
    font-size: 3rem;
  }

  .heroContainer p {
    font-size: 1.5rem;
  }

  .heroImage {
    bottom: 20vh;
    right: 10vw;
    transform: scale(2);
  }
}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {
}
