@import "../../style/index.scss";
@import "../.././style/variables.scss";

.questionText {
  color: $darkRed;
}

.centerContainer h2 {
  margin-bottom: 1rem;
}

.centerContainer {
  text-align: center;
  padding: 1rem;
}

.categoryContainer {
  margin-bottom: 3rem;
}

.optionNotSelected {
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: left;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  background-color: #de648a;
  color: white;
  display: inline-block;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
  vertical-align: top;
}

.optionNotSelected:hover {
  background-color: #b83e64;
}

.optionSelected {
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: left;
  width: 150px;
  height: 150px;
  border-radius: 1rem;
  background-color: $green;
  color: white;
  display: inline-block;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
  vertical-align: top;
}

#imageContainer {
  color: black;
}

#quoteContainer {
  font-size: 0.6rem;
  letter-spacing: 0.5px;
}

.imageCard {
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin: 0.5rem;
  text-transform: uppercase;
  text-align: left;
  width: 150px;
  height: 100%;
  border-radius: 1rem;
  background-color: white;
  color: black;
  display: inline-block;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.3s all;
  vertical-align: top;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(0, 0, 0, 0.15);
}

.imageCrop {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.imageCard img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.cardDetails {
  padding: 1rem;
  display: block;
}

#gifCaption {
  height: 80px;
  font-size: 0.6rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.2s ease;
  background-color: $red;
  border-radius: 1rem;
  z-index: 4;
}

.imageCard:hover .overlay {
  opacity: 0.6;
}

#dayContainer {
  font-size: 0.9rem;
}

#patronContainer {
  font-size: 0.75rem;
}

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 680px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .optionSelected,
  .optionNotSelected {
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
  }
  #quoteContainer {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  #dayContainer {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }
  #patronContainer {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
  .imageCard {
    width: 250px;
  }
  .imageCrop {
    width: 250px;
    height: 250px;
  }
  #gifCaption {
    height: 100px;
    font-size: 0.9rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {
}
