@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
