@import "../../style/index.scss";
@import "../.././style/variables.scss";

.footerContainer {
  width: 100vw;
  padding: 6rem;
  background-color: $blue;
}

.footerContainer svg {
  width: 50vw;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 4rem;
}

.footerContainer p {
  color: white;
  text-align: center;
}

/*Media Queries*/
/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 680px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
  .footerContainer svg {
    width: 20vw;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .footerContainer p {
    margin: 0 auto;
    width: 50%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

/* For TV Screens & Projectors */
@media (min-width: 2000px) {
}
