@import "../../style/index.scss";
@import "../.././style/variables.scss";

.footerContainer {
  width: 100vw;
  height: 30vh;
  background-color: $blue;
}

.footerContainer svg {
  width: 50vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
